@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Mono:wght@100;400&display=swap');

.burger {
    height:50px;
    width: 50px;
    position: relative;
    top: 2%;
    right: 1%;
    border-radius: 15px;
    font-weight: 700;
    font-size: 20px;
    border: 10px;
    background-color: transparent;
    box-shadow: 2px 2px 2px 2px;
}

.navbar {
    background-color: transparent;
    /* background-image: linear-gradient(to right, rgba(20, 84, 116, 1) 10%, rgba(53, 108, 142, 1) 20%, rgba(81, 133, 168, 1) 30%, rgba(108, 160, 195, 1) 40%, rgba(135, 187, 223, 1) 50%, rgba(163, 214, 252, 1) 60%, rgba(191, 243, 255, 1) 70%, rgba(220, 255, 255, 1) 80%, rgba(249, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100%); */
    padding-bottom: -10px;
    position: fixed;
    width: 100%;

}

.dropdownBurger {
    position: fixed;
    right: 1%;
    /* top:120%; */

    background-color: rgb(146, 148, 146);
    padding: 10px;
    padding: 2rem 2rem;
    border-radius: 0.8rem;
    color: var(--light);
    background: var(--background);
    box-shadow: 0.4rem 0.4rem 2.4rem 0.2rem hsla(235, 24%, 81%, 0.3);
    overflow: hidden;
    animation: fadeInAnimation ease 250ms;
}

.link {
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: rgb(157, 169, 175);
    background-size: 100%;
    background-repeat: repeat;
    border-bottom: 1px solid rgb(20, 84, 116);
    padding: 0.5rem;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;
    }
}

.anchor {
    width: 70px;
    cursor: pointer;
}
