@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Mono:wght@100;400&display=swap');

.targetall {
  font-family: 'Libre Baskerville', serif;
  background-image: url(../images/background_image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  /* position: fixed; */
  /* z-index: -1; */
}

#footer-container {
  background-color: transparent;
  max-width: 100%;
}

.login {
  width: 75%;
  margin-bottom: 50px;
  position: relative;
  left: 15%;
}

.openLoginModal {
  background-color: #3d5c97;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.openLoginModal:hover,
.openLoginModal:focus {
  background-color: #82b5f0;
}

.openSignupModal {
  background-color: #3d5c97;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.openSignupModal:hover,
.openSignupModal:focus {
  background-color: #82b5f0;
}

.header {
  padding: 60px;
  text-align: start;
  color: rgb(56, 89, 138);
  height: 1100px;
  font-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.logo {
  font-size: 120px;
  margin: 0;
  animation: fadeIn ease-in 2s;
}

.logotext {
  font-size: 27px;
  margin: 0;
  animation-delay: 2s;
  animation: fadeIn ease-in 2s;
}

.logintext {
  font-family: 'Libre Baskerville', serif;
  font-size: 55px;
  margin: 0;
  animation: fadeIn ease-in 2s;
}


.col > button {
  display: inline-block;
  margin: 0;
  color: rgb(56, 89, 138);
  font-family: 'Libre Baskerville', serif;
  font-size: 0.50em;
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
  animation-delay: 2s;
  animation: fadeIn ease-in 2s;
}

@-webkit-keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
       opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
       opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0;
}

.blogRow {
  width: 60%;
  padding-top: 20px;
  column-gap: 30px;
}

.LogOutButton {
  background-color: #3d5c97;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  right: 50px;
}

.card-text {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: right;
  line-height: 1.5;
  display: block;
  grid-row: 1;

}

.card-img-top {
  height: 100%;
  width: 100%;
}

.cardBackground {
  background-color:rgb(164, 212, 243);
  ;
}


.fill-height {
  height: calc(30vh);
  display: grid;
  grid-gap: 1rem;
}


.footerHeight {
  height: 100px;
}


.blogText {
  width: 100%;
}
