.backgroundImage {
  background-blend-mode: darken;
}

.programmer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#footer-container {
  background-color: rgb(243, 243, 243);
  max-width: 100%;
}

.login {
  width: 75%;
  margin-bottom: 50px;
  position: relative;
  left: 15%;
}

.openLoginModal {
  background-color: #3d5c97;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.openLoginModal:hover,
.openLoginModal:focus {
  background-color: #82b5f0;
}

.openSignupModal {
  background-color: #3d5c97;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.openSignupModal:hover,
.openSignupModal:focus {
  background-color: #82b5f0;
}

#logo {
  font-family: "Cinzel", serif;
  font-size: 90px;
  display: flex;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  margin: 0;
  transform: translate(-50%, 10%);
  user-select: none;
  top: -1%;
  margin: auto;
  animation: fadeIn 3s;
  text-align: center;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: rgb(56, 89, 138);
  font-size: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 50px;
}

.middle {
  background-color: #ffffff;
}

.blogRow {
  width: 60%;
  padding-top: 20px;
  column-gap: 30px;
}

.aboveFooter {
  background-color: #38598a;


}

.LogOutButton {
  background-color: #3d5c97;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  right: 50px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pic {
  left: 0;
}

.card-text {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: right;
  line-height: 1.5;
  display: block;
  grid-row: 1;

}

.card-img-top {
  height: 100%;
  width: 100%;
}

.cardBackground {
  background-color:#9BACC4
  ;
}


.fill-height {
  height: calc(30vh);
  display: grid;
  grid-gap: 1rem;
}


.footerHeight {
  height: 100px;
}


.blogText {
  width: 100%;
}
